:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--dark-slate-grey);
  color: var(--charcoal-grey);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  margin: 0;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1rem; */
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
}

.image-section img {
  width: 100vw;
  /* height: auto; */
  object-fit: cover;
}

.form-section {
  flex: 1;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.form-section h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: start;
}

.form-section p {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
  color: var(--charcoal-grey);
  text-align: start;
}

.form-section label {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--charcoal-grey);
  text-align: center;
}

.form-section ul {
  font-size: 1.15rem;
  list-style: none;
  padding: 0;
}

.form-section ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.form-section ul li img {
  margin-right: 0.75rem;
}

.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.form input[type="email"] {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--charcoal-grey);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--tomato);
}

/* Desktop styles */
@media (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 12px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .image-section {
    display: flex;
    order: 2;
    margin-bottom: 1rem;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
  }

  .image-section img {
    width: 100%;
  }

  .form-section {
    padding-right: 4rem;
  }

  .form-section h1 {
    font-size: 3.5rem;
    text-align: left;
  }

  .form-section p {
    font-size: 1.5rem;
    text-align: left;
  }

  .form input[type="email"],
  .form button {
    width: 100%;
    font-size: 1.1rem;
  }
}
