:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--dark-slate-grey);
  height: 100%;
}

.success-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.success-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: space-around;
  max-width: 375px;
  margin: 0;
}

.icon img {
  width: 75px;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--charcoal-grey);
}

p {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
  color: var(--charcoal-grey);
}

.dismiss-button {
  background-color: var(--charcoal-grey);
  border: none;
  color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
}

.dismiss-button:hover {
  background: var(--tomato);
}

/* Mobile view adjustments */
@media (max-width: 767px) {
  .success-popup {
    display: block;
  }

  .success-card {
    border-radius: 0px;
    max-width: 100%;
    height: 100vh;
    padding: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .dismiss-button {
    padding: 1.25rem;
    font-size: 1.1rem;
  }
}

/* Desktop view adjustments */
@media (min-width: 768px) {
  .success-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }

  .success-card {
    max-width: 300px;
    padding: 2.5rem;
    border-radius: 30px;
  }

  .icon img {
    width: 50px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .dismiss-button {
    padding: 0.875rem;
    font-size: 1rem;
  }
}
