:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --white: hsl(0, 0%, 100%);
}

.App {
  background-color: var(--dark-slate-grey);
  min-height: 100vh;
}

@media (max-width: 768px) {
  .App {
    background-color: var(--white);
  }
}
